@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Quicksand:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(rgb(3, 95, 201), rgb(5, 184, 100));
  color: white;
  font-family: 'Heebo', sans-serif;
}

header, main {
  max-width: 700px;
  margin: 0 auto;
}
.avatar {
  width: 120px;
  border-radius: 50%;
  border: 2px solid white; 
  box-shadow: 0 0 20px rgb(219, 230, 253);
}

.profile {
  text-align: center;
  margin-top: 2em;
}

h1 {
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

.social {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.social li a img {
  width: 2.6em;
  margin-top: 1em;
}

.links-list {
  list-style: none;
  color: blue;
}

.links-list li{
  margin: .8em 1em;
}

.links-list li a {
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 1em 1.3em;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(3, 95, 201) ;
  box-shadow: 5px 5px 10px rgba(5, 73, 151, 0.432);
}

.links-list li p {
  color: black;
}